- title "Teams"

%table{:class => "players_team_list"}
  %tr
    %th Nro
    %th Foto
    %th Nombre
    %th Integrantes
    %th Categoria
    %th Opciones
  - @teams.each_with_index do |team, n|
    %tr
      %td= n + 1
      %td= image_tag('missing-thumb.png')
      %td{:class => "nombres"}
        = link_to team.name, team_path(team)
      %td= team.players_count
      %td= team.category.name
      %td
        %span
          %small= link_to  image_tag('lupa.png'), team
        %span
          %small= link_to  image_tag('edit.png'), edit_team_path(team)
        %span
          %small= link_to image_tag('delete.png'), team, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Team", new_team_path
