- title "Equipo #{@team.name}"
#player
  #controls
    %span.icon.icon-edit
      = link_to  "editar", edit_team_path(@team)
    %span.icon.icon-add
      = link_to  "players", team_members_path(@team)
    %span.icon.icon-delete
      = link_to "eliminar", @team, :confirm => 'Are you sure?', :method => :delete
    %span.icon.icon-move
      = link_to "Volver", team_path(@team)
  .clearfix
  #player_header
    - if  @team.photo.thumb.nil?
      =image_tag(@team.photo.thumb.url(:thumb))
    - else
      = image_tag('rails.png')
  .clearfix
  #player_info
    .player_field
      %b Nombre:
      = @team.name
    .player_field
      %b Creado:
      = @team.created_at.strftime('%d/%m/%Y')
    .player_field
      %b Categoria:
      = @team.category.name
    .player_field
      %b Entrenadores
      - unless @team.coaches.empty?
        - @team.coaches.each do |c|
          = link_to full_name(c), player_path(c)
      - else
        #flash_alert
          No tiene entrenador!
    .player_field
      %b Capitan:
      - @team.players.where(:captain => true).each do |c|
        = link_to full_name(c), player_path(c)
  #team_players
  
    = render 'shared/players'
