- title "Equipo #{@team.name}"
#player
  #controls
    %span.icon.icon-edit
      = link_to  "editar", edit_team_path(@team)
    %span.icon.icon-delete
      = link_to "eliminar", @team, :confirm => 'Are you sure?', :method => :delete
    %span.icon.icon-move
      = link_to "Volver", team_path(@team)
  .clearfix
  #player_header
    = @team.photo.thumb.exists? ? image_tag(@team.photo.thumb.url(:thumb)) : image_tag('missing.png')
  .clearfix
  #player_info
    .player_field
      %b Nombre:
      = @team.name
    .player_field
      %b Creado:
      = @team.created_at.strftime('%d/%m/%Y')
    .player_field
      %b Categoria:
      = @team.category.name
    .player_field
      %b Cant Jugadores:
      = @team.players_count
  #add_player
    
    %p
      = link_to_function "Add Players", "$('#player_form').slideToggle()",:class => "add_player_button"
      = link_to_function "Add Coach", "$('#coach_form').slideToggle()",:class => "add_player_button"
    #player_form{:style => "display:none"}
      Hola!
    #coach_form{:style => "display:none"}
      Hola!
  #players_list
    = render :partial => 'shared/players', :object => @team
