- title "Equipo #{@team.name}"

%p
  %strong Name:
  = @team.name
%p
  %strong Category:
  = @team.category.name
%p
  - if @team.players.empty?
    #flash_error
      No hay jugadores
  - else
    - @team.players.each do |player|
      %p
        = player.name
        = player.lastname
%p
  = link_to "Edit", edit_team_path(@team)
  |
  = link_to "Destroy", @team, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", teams_path
