- title "Equipo #{@team.name}"
#player
  #controls
    %span.icon.icon-edit
      = link_to  "editar", edit_team_path(@team)
    %span.icon.icon-delete
      = link_to "eliminar", @team, :confirm => 'Are you sure?', :method => :delete
    %span.icon.icon-move
      = link_to "Volver", team_path(@team)
  .clearfix
  #player_header
    = !@team.photo.nil? && @team.photo.thumb.exists? ? image_tag(@team.photo.thumb.url(:thumb)) : image_tag('missing.png')
  .clearfix
  #player_info
    .player_field
      %b Nombre:
      = @team.name
    .player_field
      %b Creado:
      = @team.created_at.strftime('%d/%m/%Y')
    .player_field
      %b Categoria:
      = @team.category.name
    .player_field
      %b Cant Jugadores:
      = @team.players_count
- if current_user.admin?
  %p
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
  #add_player
    = render 'players/add_players'
#coaches_list
  = render :partial => 'shared/coaches', :object => @team
#players_list
  = render :partial => 'shared/players', :object => @team
