- title "Dashboard Admin - Rhockey"

#dashboard
  .buttons-admin
    .button
      %p= link_to "Campeonatos"
      %p.hint
        Crear, modificar o eliminar campeonatos
    .button
      %p= link_to "Equipos", teams_path
      %p.hint
        Altas, bajas y modificaciones de equipos
    .button
      %p= link_to "Jugadores", players_path
      %p.hint
        Altas, bajas y modificaciones de jugadores
    .button
      %p= link_to "Entrenadores", coaches_path
      %p.hint
        Altas, bajas y modificaciones de entrenadores
    .button
      %p= link_to "Referis", referis_path
      %p.hint
        Altas, bajas y modificaciones de referis
    .button
      %p= link_to "Informes"
      %p.hint
        Informes
.clearfix