%table{:class => "players_team_list"}
  %th{:colspan => 6, :style => "text-align: left;"}
    Entrenadores
  - unless @team.coaches.empty?
    - @team.coaches.each_with_index do |coach,n|
      %tr
        %td= n +1        
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(coach)
        %td sin info
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), team_coach_path(@team,coach)
          %span
            %small= link_to  image_tag('edit.png'), edit_team_coach_path(@team,coach)
          %span
            %small= link_to image_tag('delete.png'), team_coach_path(@team,coach), :confirm => 'Are you sure?', :method => :delete
  - else
    %tr
      %td{:colspan => 6}
        #flash_alert
          No tiene entrenador!


