%b Arqueros
-unless @team.players.arqueros.empty?
  %table{:class => "players_team_list"}
    - @team.players.arqueros.each_with_index do |player,n|
      %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(player)
        %td== #{player.edad} anios
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), player_path(player)
          %span
            %small= link_to  image_tag('edit.png'), edit_player_path(player)
          %span
            %small= link_to image_tag('delete.png'), player, :confirm => 'Are you sure?', :method => :delete, :remote => true
- else
  #flash_error
    No hay Arqueros

%b Jugadores
-unless @team.players.jugadores.empty?
  %table{:class => "players_team_list"}
    - @team.players.jugadores.each_with_index do |player,n|
      %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(player)
        %td== #{player.edad} anios
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), player_path(player)
          %span
            %small= link_to  image_tag('edit.png'), edit_player_path(player)
          %span
            %small= link_to image_tag('delete.png'), player, :confirm => 'Are you sure?', :method => :delete, :remote => true
- else
  #flash_error
    No hay jugadores

- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
    

