%table{:class => "players_team_list"}
  %th{:colspan => 6, :style => "text-align: left"}
    Arqueros
  -unless @team.players.arqueros.empty?
    - @team.players.arqueros.each_with_index do |player,n|
      %tr{:class => "info", :title => "#{player.can_play? ? "Habilitado para jugar" : " No es esta habilitado"}"}
        %td= n +1
        %td= player.can_play? ?  image_tag('check.png') : image_tag('error.png')
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(player)
        %td== #{player.edad} años
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), player_path(player)
          %span
            %small= link_to  image_tag('edit.png'), edit_player_path(player)
          %span
            %small= link_to image_tag('delete.png'), player_path(player), :confirm => 'Are you sure?', :method => :delete
  - else
    %tr
      %td{:colspan => 6}
        #flash_error
          No hay Arqueros
  %tr
    %td
  %th{:colspan => 6, :style => "text-align: left;"}
    Jugadores
  %tr
    -unless @team.players.jugadores.empty?
      - @team.players.jugadores.each_with_index do |player,n|
        %tr{:class => "info", :title => "#{player.can_play? ? "Habilitado para jugar" : " No es esta habilitado"}"}
          %td= n + 1
          %td= player.can_play? ?  image_tag('check.png') : image_tag('error.png')
          %td= image_tag('missing-thumb.png')
          %td{:class => "nombres"}
            = full_name(player)
          %td== #{player.edad} años
          %td{:class => "last"}
            %span
              %small= link_to  image_tag('lupa.png'), player_path(player)
            %span
              %small= link_to  image_tag('edit.png'), edit_player_path(player)
            %span
              %small= link_to image_tag('delete.png'),  player_path(player), :confirm => 'Are you sure?', :method => :delete
    - else
      %tr
        %td{:colspan => 5}
          #flash_error
            No hay jugadores

    

