%p
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
%table{:class => "players_team_list"}
  %th{:colspan => 5, :style => "text-align: left;"}
    Entrenadores
  - unless @team.coaches.empty?
    - @team.coaches.each_with_index do |coach,n|
      %tr{:class => "habilitado"}
        %td= n +1 
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(coach)
        %td sin info
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), coach_path(coach)
          %span
            %small= link_to  image_tag('edit.png'), edit_coach_path(coach)
          %span
            %small= link_to image_tag('delete.png'), coach, :confirm => 'Are you sure?', :method => :delete, :remote => true
  - else
    %tr
      %td{:colspan => 5}
        #flash_alert
          No tiene entrenador!


%table{:class => "players_team_list"}
  %th{:colspan => 5, :style => "text-align: left"}
    Arqueros
  -unless @team.players.arqueros.empty?
    - @team.players.arqueros.each_with_index do |player,n|
      %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
        %td= n +1 
        %td
          = image_tag('missing-thumb.png')
        %td{:class => "nombres"}
          = full_name(player)
        %td== #{player.edad} años
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('lupa.png'), player_path(player)
          %span
            %small= link_to  image_tag('edit.png'), edit_player_path(player)
          %span
            %small= link_to image_tag('delete.png'), player, :confirm => 'Are you sure?', :method => :delete, :remote => true
  - else
    %tr
      %td{:colspan => 5}
        #flash_error
          No hay Arqueros
  %tr
    %td
  %th{:colspan => 5, :style => "text-align: left;"}
    Jugadores
  %tr
    -unless @team.players.jugadores.empty?
      - @team.players.jugadores.each_with_index do |player,n|
        %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
          %td= n + 1
          %td= image_tag('missing-thumb.png')
          %td{:class => "nombres"}
            = full_name(player)
          %td== #{player.edad} años
          %td{:class => "last"}
            %span
              %small= link_to  image_tag('lupa.png'), player_path(player)
            %span
              %small= link_to  image_tag('edit.png'), edit_player_path(player)
            %span
              %small= link_to image_tag('delete.png'), player, :confirm => 'Are you sure?', :method => :delete, :remote => true
    - else
      %tr
        %td{:colspan => 5}
          #flash_error
            No hay jugadores

    

