
-unless @team.players.empty?
  %table{:id => "players_team_list"}
    %tr
      %th Nro
      %th
        Nombre Completo
      %th Edad
      %th{:class => "last"}
        Opciones
        - @team.players.each_with_index do |player,n|
          %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
            %td= n +1
            %td{:class => "nombres"}
              =# image_tag player.gravatar_url(:size => 20)
              = player.name
              = player.lastname
            %td= player.edad
            %td{:class => "last"}
              %span.icon.icon-edit
                %small= link_to  "Ver", player_path(player)
              %br
              %span.icon.icon-delete
                %small= link_to "eliminar", player, :confirm => 'Are you sure?', :method => :delete, :remote => true
- else
  #flash_error
    No hay jugadores

- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
    

