%p
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
%b Categoria: 
= @championship.category.name
%br
%small
  = Time.now.strftime('%d/%m/%Y')
= form_for [@championship,@game] do |f|
  %h4
    Add teams:
  %p
    Local:
    = select_tag :local, options_from_collection_for_select(@teams, 'id', 'name')
    Visitante:
    = select_tag :visitor, options_from_collection_for_select(@teams, 'id', 'name')
  %h4
    Add Referis:
  %p
    Referi 1:
    = select_tag :referi_1, options_from_collection_for_select(Referi.all, 'id', 'name')
    Referi 2:
    = select_tag :referi_2, options_from_collection_for_select(Referi.all, 'id', 'name')
    Referi Suplente:
    = select_tag :referi_3, options_from_collection_for_select(Referi.all, 'id', 'name')
  %p
    = f.submit
    or
    = link_to "Cancelar", championship_path(@championship)