.left
  %table
    %th{:colspan => "3"}
      = @local.name
    %th= @local.goals(@game.id)
    %tr
      - @game.local.data(@game.id).each do |a|
        %tr{:style => "font-size: 12px; color: #666666;"}
          %td= a.action.capitalize
          %td= a.time
          %td= full_name(a.player)
.right
  %table
    %th= @visitor.goals(@game.id)
    %th{:colspan => "3"}
      = @visitor.name
    %tr
      - @game.visitor.data(@game.id).each do |a|
        %tr{:style => "font-size: 12px; color: #666666;"}
          %td
          %td= a.action.capitalize
          %td= a.time
          %td= full_name(a.player)
.clear