%script
  $('.info').tipsy({gravity: 'w', fade: true});
  $('.info1').tipsy({gravity: 'e', fade: true});
.left
  %table{:class => "game_data_row"}
    %th{:colspan => "4"}
      = @local.name
    %th= @local.goals(@game.id)
    
    - @game.local.data(@game.id).each do |a|
      %tr
        %td{:class => "info1", :title => "Delete this #{a.action}"}
          = link_to image_tag('error.png'), championship_game_game_action_path(@championship,@game,a),:confirm => "Esta seguro que queres borrar este #{a.action}",:method => :delete, :remote => true
        %td
        %td= a.action.capitalize
        %td= a.time
        %td= full_name(a.player)
.right
  %table{:class => "game_data_row"}
    %th= @visitor.goals(@game.id)
    %th{:colspan => "5"}
      = @visitor.name
    - @game.visitor.data(@game.id).each do |a|
      %tr{:style => "font-size: 12px; color: #666666;"}
        %td
        %td= a.action.capitalize
        %td= a.time
        %td= full_name(a.player)
        %td
        %td{:class => "info", :title => "Delete this #{a.action}"}
          = link_to image_tag('error.png'), championship_game_game_action_path(@championship,@game,a),:confirm => "Esta seguro que queres borrar este #{a.action}",:method => :delete, :remote => true
.clear