- title "Games"

%table
  %tr
    %th Championship
    %th Ganador
    %th Finished
    %th Comment
  - for game in @games
    %tr
      %td= game.championship_id
      %td= game.ganador
      %td= game.finished
      %td= game.comment
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Game", new_game_path
