- title "Playing Game"
%h1 Datos estaticos
%p
  %b Torneo:
  = @championship.name
  == #{@championship.start_date.year}/#{@championship.end_date.year}
  %br
  %b Categoria
  = @championship.category.name
#time_area
  %button{:type => "text",:id => "reset_btn"}
    Start/Reset
  %img{:id => "play_btn", :src => "/images/play.png"}
  %img{:id => "pause_btn", :src => "/images/pause.png"}
  %br
  %input{:type => "text",:id => "countdown_timer"}
  %script
    window.onload = function() {
    timer = new Countdown();
    timer.init();
    $('#pause_btn').click(function() {
    timer.pause();
    //could insert code here to hide pause and show play.
    });
    $('#play_btn').click(function() {
    timer.resume();
    //could insert code here to hide play and show pause.
    });
    $('#reset_btn').click(function() {
    timer.reset();
    //could insert code here to show play and hide pause.
    });
    };
  %script
    function setTime(){
    $("#game_action_time").val($("#countdown_timer").val())
    }
#game_data{:style => "margin: auto;width:60%;font-size: 30px"}
  = render 'game_data', :game => @game
       
#form_game_data{:style => "margin: auto;width:90%;font-size: 15px"}
  %div.left
    %h2{:style => "text-align: center"} 
      Local
    %table
      - @local.players.each do |p|
        %tr
          %td= full_name(p)
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'goal', :team => @local}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'penalty', :team => @local}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'assistance', :team => @local}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'save', :team => @local}

  %div.right
    %h2{:style => "text-align: center"} 
      Visitor
    %table
      - @visitor.players.each do |p|
        %tr
          %td= full_name(p)
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'goal', :team => @visitor}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'penalty', :team => @visitor}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'assistance', :team => @visitor}
          %td= render :partial => 'action_form', :locals => {:p => p, :action => 'save', :team => @visitor}
.clearfix

%p{:style => "text-align: center;"}
  = link_to "Finish Game", finish_championship_game_path(@championship,@game), :confirm => "Esta seguro que quiere terminar el partido?", :method => "put"