#game_information{:style=>"text-align:center"}
  %p
    %span.torneo
      Torneo:
      = @championship.name
      == #{@championship.start_date.year}/#{@championship.end_date.year}
    %span.categoria
      Categoria
      = @championship.category.name
%br
#game_playing_panel.right
  #time_area
    %span{:id => "countdown_timer"}
    %p{:id => "time_controls"}
      = link_to_function image_tag("/images/reload.png"),:id => "reset_btn",:class => "info2", :title => "Reset"
      = link_to_function image_tag("/images/play.png"),:id => "play_btn",:class => "info2", :title => "Start"
      = link_to_function image_tag("/images/pause.png"),:id => "pause_btn",:class => "info2", :title => "Pause"
    %script
      window.onload = function() {
      timer = new Countdown();
      timer.init();
      $('#pause_btn').click(function() {
      timer.pause();
      //could insert code here to hide pause and show play.
      });
      $('#play_btn').click(function() {
      timer.resume();
      //could insert code here to hide play and show pause.
      });
      $('#reset_btn').click(function() {
      timer.reset();
      //could insert code here to show play and hide pause.
      });
      };
    %script
      function setTime(){
      var act_time = $("#countdown_timer").text()
      var time_ary = act_time.split(":");
      var minutes = parseInt(time_ary[0]);
      var seconds = parseInt(time_ary[1]);

      if(minutes == 40) 
      var final_min = 40 - minutes;
      else
      var final_min = 39 - minutes;

      var final_sec = 60 - seconds;
      if(final_min < 10) final_min = "0" + final_min;
      if(final_sec < 10) final_sec = "0" + final_sec;
      if(final_sec == 60) final_sec = "00";
      $(".new_game_action #game_action_time").val(final_min + ":" + final_sec)
      }
    #referis{:style => "text-align: left;margin-left: 10px"}
      - unless @game.referis.empty?
        %b Referis:
        %ol
          - @game.referis.each do |r|
            %li= full_name(r)
        
    #finish_game_button
      = link_to "Finish Game", finish_championship_game_path(@championship,@game), :confirm => "Esta seguro que quiere terminar el partido?", :method => "put"

#form_game_data
  #teams
    #team_left.left
      %h3= @local.name
      = render :partial => 'team_table', :locals => {:team => @local}
    #team_right.right
      %h3= @visitor.name
      = render :partial => 'team_table', :locals => {:team => @visitor}
    .clear
.clear
%br
#game_info_panel
  #game_data
    = render 'game_data', :locals => {:game => @game}
.clear
