- title "Game"

%p
  %strong Championship:
  = link_to @game.championship.name, championship_path(@game.championship)
%p
  %strong Code:
  = @game.code

%div{:class => "left", :style =>"width: 45%;" }
  %p
    %span= image_tag(@local.photo.thumb.url(:thumb))
    %h3= @local.name
  - @local.players.each do |p|
    %p
      %span= image_tag(p.gravatar_url(:size => 20))
      %span= link_to full_name(p), player_path(p)
      %span= p.can_play? ? image_tag('check.png') : image_tag('error.png')
%div{:class => "right", :style =>"width: 45%;" }
  %p
    %span= image_tag(@visitor.photo.thumb.url(:thumb))
    %h3= @visitor.name
  - @visitor.players.each do |p|
    %p
      %span= image_tag(p.gravatar_url(:size => 20))
      %span= link_to full_name(p), player_path(p)
      %span= p.can_play? ? image_tag('check.png') : image_tag('error.png')
.clear
            
