- title "Game #{@game.code}"
- unless @game.finished?
  %p
    = link_to "Start Game", game_playing_path(@game.championship, @game), :confirm => "Confirma que iniciara el partido?"

%p
  %strong Championship:
  = link_to @game.championship.name, championship_path(@game.championship)

%p
  %b Referis:
  - @game.referis.each do |r|
    %p
      %span{:class => "info", :title => "#{r.games.size} partidos refereados"}
        == #{full_name(r)}
.clear
- if @game.finished?
  
  %h2
    Ganador:
    = @game.winner.nil? ? "Empate" : @game.team_winner.name
  %p
    - @game.game_actions.goals.each do |g|
      %span{:style => "font-size: 12px; color: #666666;", :class => "info", :title => "Goles en el campeonato: #{g.player.game_actions.goals.size}"}
        = g.created_at.strftime('%M:%S')
        = full_name(g.player)
        = g.team.name
      %br
%div{:class => "left", :style =>"width: 45%;" }
  %p
    %span= !@local.photo.nil? && @local.photo.thumb.exists? ? image_tag(@local.photo.thumb.url(:thumb)) : image_tag('missing.png')
    %h2
      = @local.name
      = @local.goals(@game.id) if @game.finished?
  - @local.players.each do |p|
    %p
      %span= image_tag(p.gravatar_url(:size => 20))
      %span= link_to full_name(p), player_path(p)
      %span= p.can_play? ? image_tag('check.png') : image_tag('error.png')
%div{:class => "right", :style =>"width: 45%;" }
  %p
    %span= !@visitor.photo.nil? && @visitor.photo.thumb.exists? ? image_tag(@visitor.photo.thumb.url(:thumb)) : image_tag('missing.png')
    %h2
      = @visitor.goals(@game.id) if @game.finished?
      = @visitor.name
  - @visitor.players.each do |p|
    %p
      %span= image_tag(p.gravatar_url(:size => 20))
      %span= link_to full_name(p), player_path(p)
      %span= p.can_play? ? image_tag('check.png') : image_tag('error.png')
.clear
            
