- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}",:class => "flash"
- unless @game.finished?
  %p
    = link_to "Start Game", game_playing_path(@game.championship, @game), :confirm => "Confirma que iniciara el partido?"


%h2{:style => "text-align:center;"}
  Campeonato:
  = link_to @game.championship.name, championship_path(@game.championship)

- if @game.finished?
  #data_finished_game
    = render 'finished_data_game'

#game_teams
  .team_table
    %table.left
      %tr
        %td
          %h3
            = @local.name
      - @local.players.each do |p|
        %tr
          %td= image_tag(p.gravatar_url(:size => 20))
          %td= link_to full_name(p), player_path(p)
          %td= p.number
          %td= p.can_play? ? image_tag('check.png') : image_tag('error.png')
  .team_table
    %table.right
      %tr
        %td
          %h3
            = @visitor.name
      - @visitor.players.each do |p|
        %tr
          %td= image_tag(p.gravatar_url(:size => 20))
          %td= link_to full_name(p), player_path(p)
          %td= p.number
          %td= p.can_play? ? image_tag('check.png') : image_tag('error.png')
  .clear
            
