%h2 Agregar Jugador
= form_for :player, :url => {:controller => "players", :action => "create"},:remote => true do |f|
  %p
    = f.hidden_field :team_id, :value => @team.id
    %small= f.label :name, "Nombre"
    %br
    = f.text_field :name, :size => 20
  %p
    %small= f.label :lastname, "Apellido"
    %br
    = f.text_field :lastname, :size => 20
  %p
    %small= f.label :birthday, "Nacimiento"
    %br
    = f.date_select :birthday, :start_year => 1950, :end_year => Time.now.year
  %p
    = f.submit
