#form
  = form_for @player, :html => {:multipart => true } do |f|
    .formTitle
      %h3 Personal information
    %p
      = f.label :name, "Nombre"
      %br
      = f.text_field :name, :id => "name_field"
      %span{:class => "inputTipContainer"}
    %p
      = f.label :lastname, "Apellido"
      %br
      = f.text_field :lastname, :id => "lastname_field"
      %span{:class => "inputTipContainer"}
    %p
      = f.label :email, "Email"
      %br
      = f.text_field :email, :id => "email_field"
      %span{:class => "inputTipContainer"}
    %p
      = f.label :birthday, "Nacimiento"
      = f.date_select :birthday, :start_year => 1950, :end_year => Time.now.year
    %p
      = f.label :gender, "Genero"
      = f.select :gender, ApplicationController::GENDER
    .formTitle
      %h3 Team information
    %p
      = f.label :team_id
      = collection_select(:player, :team_id, Team.all, :id, :name)
      =#, {:disabled => lambda{|category| category.archived? }})

    %p
      = f.check_box :captain
      = f.label :captain, "Capitan?"
    %p
      = f.check_box :goalkeeper
      = f.label :goalkeeper, "Arquero?"
    
    %p
      = f.submit
