= form_for [@team,@team.players.new]  do |f|
  %p
    = f.label :number, "Numero"
    = f.text_field :number, :size => 8
    = f.label :name, "Nombre"
    = f.text_field :name, :size => 25
    = f.label :lastname, "Apellido"
    = f.text_field :lastname, :size => 25
  %p
    = f.label :birthday, "Nacimiento"
    = f.date_select :birthday, :start_year => 1950, :end_year => Time.now.year
  %p
    = f.label :goalkeepper, "Arquero?"
    = f.check_box :goalkeeper
  %p
    = f.submit
    or
    = link_to_function "Cancel", "$('#player_form').slideToggle('slow')"