- title "Players"
%b Arqueros
%table{:class => "players_team_list"}
  %th Foto
  %th Nombre Completo
  %th Edad
  %th Equipo
  %th Opciones
  - @arqueros.each_with_index do |player,n|
    %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
      %td
        = image_tag player.gravatar_url(:size => 30)
      %td{:class => "nombres"}
        = full_name(player)
      %td== #{player.edad} anios
      %td= link_to player.team.name, team_path(player.team)
      %td{:class => "last"}
        %span
          %small= link_to  image_tag('edit.png'), player_path(player)
       
%b Jugadores
%table{:class => "players_team_list"}
  %th Foto
  %th Nombre Completo
  %th Edad
  %th Equipo
  %th Opciones
  -unless @jugadores.empty?
    - @jugadores.each_with_index do |player,n|
      %tr{:class => "#{player.recategorizar? ? 'deshabilitado' : 'habilitado'}"}
        %td
          = image_tag player.gravatar_url(:size => 30)
        %td{:class => "nombres"}
          = full_name(player)
        %td== #{player.edad} anios
        %td= link_to player.team.name, team_path(player.team)
        %td{:class => "last"}
          %span
            %small= link_to  image_tag('edit.png'), player_path(player)
          
