!!!
%html
  %head
    %title
      = yield(:title) || "Rhockey"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults,'jquery.tipsy','countdown'
    = csrf_meta_tag
    = yield(:head)
  %body
    #header
      %span
        = image_tag('logo.png')
    %br
    #menu_bar
      #user_menu
        -if current_user
          User
          = current_user.email
          %span= link_to "Sign Out", destroy_user_session_path
          %span= link_to "Edit Profile", edit_user_registration_path
      #app_menu
        -  if current_user && current_user.admin?
          = link_to_unless_current "Dashboard", admin_dashboard_path
          = link_to_unless_current "Equipos", teams_path
          = link_to_unless_current "Entrenadores", coaches_path
          = link_to_unless_current "Jugadores", players_path
          = link_to_unless_current "Referis", referis_path
      .clear
    #container
      #content
        #title
          =yield(:title) || "Rhockey"
        = yield
