!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application", 'jquery-ui'
    = javascript_include_tag :defaults,'jquery.tipsy','autocomplete-rails','countdown'
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      %h1
        = image_tag('logo.png')
      - if show_title?
        %h3= yield(:title)
      - else
        %h3 Rhockey
      -if current_user
        Logged as
        = current_user.email
        %br
        = link_to "Sign out", destroy_user_session_path
        =# link_to "Change Pass", edit_user_password_path
        - if current_user.admin?
          %p
            = link_to_unless_current "Dashboard", admin_dashboard_path
            = link_to_unless_current "Equipos", teams_path
            = link_to_unless_current "Entrenadores", coaches_path
            = link_to_unless_current "Jugadores", players_path
            = link_to_unless_current "Referis", referis_path

      = yield
