!!!
%html
  %head
    %title
      = yield(:title) || "Rhockey"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults,'jquery.tipsy','countdown', 'on_the_spot','jquery.jeditable.mini'
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #header
        %span
          = image_tag('logo2.png')
        %p
          #user_menu
            -if current_user
              = current_user.email
              = current_user.admin? ? "(Admin)" : "User"
              |
              %span.user_link= link_to "logout", destroy_user_session_path, :confirm => "Are you sure?"
              == -
              %span.user_link= link_to "profile", edit_user_registration_path
      #menu_bar
        -  if current_user && current_user.admin?
          %span#admin_menu{:style => "display:none"}
            %span.menu_link= link_to_unless_current "Inicio", root_url
            %span.menu_link= link_to_unless_current "Equipos", teams_path
            %span.menu_link= link_to_unless_current "Entrenadores", coaches_path
            %span.menu_link= link_to_unless_current "Jugadores", players_path
            %span.menu_link= link_to_unless_current "Referis", referis_path
          %span#admin_link.closed= link_to_function "Menu", "$('#admin_menu').toggle('slow')"
        #date{:style => "float:right"}
          = Time.now.strftime('%d de %B, %Y')
      #content
        = yield
