!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application", 'jquery-ui'
    = javascript_include_tag :defaults,'jquery.tipsy','autocomplete-rails.js'
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      #login_menu
        - if user_signed_in?
          Logged as
          = current_user.admin? ? "Admin: " : "User: "
          = current_user.email
          #sign_out
            = link_to "Sign out", destroy_user_session_path
      = image_tag('logo.png')
    #menu_bar
      - if current_user
        = link_to "Inicio", root_path, :class => "menu_button"
        = link_to "Volver", :back, :class => "menu_button"
        - if current_user.admin?
          = link_to "Admin", admin_dashboard_path, :class => "menu_button"
    #container
      #wrap_header
        - if show_title?
          #title
            = yield(:title)
      #content
        = yield
